/* @keyframes slide-m {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes slide-m-right {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slide-project {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide-m {
  animation: slide-m 2s ease-in-out forwards;
}

.animate-slide-m-right {
  animation: slide-m-right 2s ease-in-out forwards;
}
*/

/*  Nice */
/* .slide-project-x-0 {
  animation: scale-in-project-x-0 .9s ease-in-out forwards;
}

@keyframes scale-in-project-x-0 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

/* .slide-project-x-0 {
  animation: rotate-in-project-x-0 .9s ease-in-out forwards;
}

@keyframes rotate-in-project-x-0 {
  0% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
} */

/* .slide-project-x-0 {
  animation: zoom-in-project-x-0 .9s ease-in-out forwards;
}

@keyframes zoom-in-project-x-0 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

/* .slide-project-x-0 {
  animation: flip-horizontal-project-x-0 .9s ease-in-out forwards;
}

@keyframes flip-horizontal-project-x-0 {
  0% {
    transform: scaleX(-1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
} */

/* .slide-project-x-0 {
  animation: slide-bottom-project-x-0 .9s ease-in-out forwards;
}

@keyframes slide-bottom-project-x-0 {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

/* .slide-project-x-0 {
  animation: bounce-in-project-x-0 .9s ease-in-out forwards;
}

@keyframes bounce-in-project-x-0 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
} */

.typewriter {
   /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  /* white-space: nowrap; Keeps the content on a single line */
  white-space: pre-wrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  /* animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
