@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.slide-next-project {
  animation: slide-next-project 0.9s ease-in-out forwards;
}

.slide-previous-project {
  animation: slide-previous-project 0.9s ease-in-out forwards;
}

@keyframes slide-next-project {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-previous-project {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bounce-in-m-1 {
  animation: bounce-in-m-1 2s ease-in-out forwards;
}

@keyframes bounce-in-m-1 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-in-m-2 {
  animation: bounce-in-m-2 2s ease-in-out forwards;
}

@keyframes bounce-in-m-2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.font-elite {
  /* font-family: 'Rubik Iso', cursive; */
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Special Elite', cursive;
}

.typewriter h2 {
  white-space: pre-wrap;
  border-right: 0.15em solid rgb(124, 123, 121);
  margin: 0;
  display: inline;
  letter-spacing: 0.15em;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(124, 123, 121);
  }
}

.rotate-x {
  display: inline-block;
  cursor: pointer;
  animation: rotate-x 0.3s ease-in-out forwards 1.9s;
}

.rotate-x:hover {
  animation: rotate-x 0.9s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

@keyframes rotate-x {
  0% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.active-link {
  position: relative;
  margin-right: auto;
  color: gray;
  font-size: 1.5rem;
  transition: 2s;
}
